<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/laravel-chat/tests" />
        <option value="$PROJECT_DIR$/laravel-chat_2/tests" />
        <option value="$PROJECT_DIR$/laravel-chat_1/tests" />
        <option value="$PROJECT_DIR$/laravel-reverb/tests" />
      </list>
    </option>
  </component>
</project>